.text-editor {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.text-editor div {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.edit-name {
    margin-top: 1px;    
    height: 30%;
    -moz-user-modify: read-write-plaintext-only;
    -webkit-user-modify: read-write-plaintext-only;
    -ms-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;    
}

.edit-description {
    height: 70%;
    margin-top: 2%;
}

/* Override the styles from the zenpen-editor where appropriate. */

blockquote {
    border-color: deepskyblue;
    background: #DDD;
    margin-left: 0;
}