html {
    height: 100%;
}

body {
    height: 100%;
}

#model {
    height: 100%;
    width: 100%;
}

#toolbar {
    position: absolute;
    top: 1em;
    left: 1em;
}

#help {
    text-decoration: none;
    font-size: xx-large;
    position: fixed;
    right: 0.3em;
    top: 0.2em;
}

@media print {
    #help {
	display: none;
    }
}