html {
    height: 100%;
}

body {
    height: 99%;
    margin: 0;
    overflow: hidden;
}

#model {
    height: 100%;
    width: 100%;
}

#menu {
    position: absolute;
    top: 1em;
    left: 1em;
}

#toolbar {
    position: absolute;
    top: 1em;
    right: 1em;

    /* Cross-browser disable text selection. */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
}

@media print {
    #toolbar {
    	display: none;
    }
}


#toolbar div {
    display: block;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    text-align: center;
}

#toolbar div.enabled {
    background-color: black;
    color: white;
}

#rotate-button.TB {
    transform: rotate(90deg);
}

#rotate-button.RL {
    transform: rotate(180deg);
}

#rotate-button.BT {
    transform: rotate(270deg);
}

#toolbar #load-viewpoint-button {
    display: none;
}

#toolbar #load-viewpoint-button.enabled {
    display: block;
}

#toolbar #viewpoint-saved-indicator-wrapper {
    position: relative;
    left: -10em;
    width: 0;
    top: -2.2em;
    height: 0;
    border: none;
    padding:0;
    margin:0;
}

#toolbar #viewpoint-saved-indicator-wrapper div {
    background-color: slategray;
    position: absolute;
    width: 7em;
    opacity: 0;
    transition: opacity 3s;
}

#toolbar #viewpoint-saved-indicator-wrapper div.enabled {
    opacity: 1;
    transition: none;
}