.navbar {
    position: absolute;
    left: 0.5em;
    bottom: 3em;
    font-family: monospace;
    font-size: x-large;
}

.navbar div {
    background-color: #E0E0E0;
    padding: 0.1em;
    cursor: pointer;
}

.navbar div:hover {
    background-color: #404040;
    color: #E0E0E0;
}

.navbar div.active {
    background-color: #181818;
    color: white;
}

.focus-node-tool {
    cursor: pointer;
}

.focus-node-tool rect {
    fill: white;
}

.focus-node-tool:hover rect {
    fill: deepskyblue;
}

.focus-node-tool text {
    text-anchor: start;
    font-family: monospace;
}
