.delete-button:hover rect {
    fill: red;
}

.expand-button:hover rect {
    fill: deepskyblue;
}

.contract-button:hover rect {
    fill: deepskyblue;
}

.focus-subtree-tool:hover rect {
    fill: limegreen;
}