.name {
	font-family: 'fira_sanssemibold';
}

.node-top-margin .margin-button {
    visibility: hidden;
}

.node-top-margin .margin-button rect {
	stroke-width: 0;
}

.process-node:hover .node-top-margin .margin-button {
    visibility: visible;
}


.delete-button,
.focus-subtree-tool {
	font-family: 'steep';
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.margin-button.focus-subtree-tool rect {
	fill: #eee;
}
