/*
Styles about nodes.
 */
g.process-node {
    cursor: move;
}

.process-node rect {
    stroke: #708090;
    fill: white;
}

.node-name {
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;    
}

.node-description {
    font-size: small;
    font-family: sans-serif;
    height: 100%;
}

.process-node rect.node-box-process {
    fill: #C0C0C0;
}

.process-node rect.node-box-issue {
    fill: #6699EE;
}

.process-node rect.node-box-option {
    fill: #55CC55;
}

.process-node rect.node-box-argument {
    fill: #9966EE;
}

g.node-choice-process rect {
    fill: #C0C0C0;
}

g.node-choice-issue rect {
    fill: #6699EE;
}

g.node-choice-option rect {
    fill: #55CC55;
}

g.node-choice-argument rect {
    fill: #9966EE;
}

g.node-choice {
    cursor: pointer;
}

g.toggleable-text {
    cursor: pointer;
}

g.node-type text {
    font-family: monospace;
    fill: maroon;
}

g.node-choice text {
    font-family: monospace;
    fill: maroon;
}

g.expander {
    cursor: pointer;
    font-family: monospace;
}

g.expander:hover rect {
    fill: deepskyblue;
}

.resize-handle {
    cursor: se-resize;
    font-family: monospace;
}

.handle {
    cursor: pointer;
    stroke: #708090;
}

.handle circle {
    fill: white;
}

.handle circle:hover {
    fill: green;
}

rect.success {
    fill: green;
}

rect.uncertainty {
    fill: white;
}

rect.failure {
    fill: red;
}

rect.conflict {
    fill: #27408B;
}

.delete-button {
    cursor: pointer;
}

.delete-button rect {
    fill: white;
}

.delete-button:hover rect {
    fill: red;
}

.delete-button text {
    font-family: monospace;
}