.node-choice rect {
	stroke-width: 0.5;
	stroke: #c9c9c9;
}

.node-choice:hover rect {
	stroke: #626366;
}

.node-choice-process rect {
	fill: white;
}

.node-choice-issue rect {
	fill: #c7e2f3;
}

.node-choice-option rect {
	fill: #fbf6e4;
}

.node-choice-argument rect {
	fill: #9966EE;
}


g.interval.computed {
    cursor: auto;
}

.interval rect {
	stroke: #626366;
}

.interval rect.success {
    fill: green;
}

.interval rect.uncertainty {
    fill: white;
}

.interval rect.failure {
    fill: red;
}

.interval rect.conflict {
    fill: #27408B;
}

.toggleable-text {
    text-anchor: middle;
}

.node-type rect.node-type-background {
	fill: #717375;
	stroke-width: 0;
}
