.node-choice-process:hover rect {
    fill: #C0C0C0;
}

.node-choice-issue:hover rect {
    fill: #6699EE;
}

.node-choice-option:hover rect {
    fill: #55CC55;
}

.node-choice-argument:hover rect {
    fill: #9966EE;
}

g.interval.computed {
    cursor: auto;
}

.interval rect.success {
    fill: green;
}

.interval rect.uncertainty {
    fill: white;
}

.interval rect.failure {
    fill: red;
}

.interval rect.conflict {
    fill: #27408B;
}

.toggleable-text {
    text-anchor: middle;
}