.name {
	font-family: 'fira_sanssemibold';
}

.node-top-margin .margin-button {
    visibility: hidden;
}

.node-top-margin .margin-button rect {
	stroke-width: 0;
}

.process-node:hover .node-top-margin .margin-button {
    visibility: visible;
}

/*
Chrome has some weird behaviour which means that sometimes the focus/delete buttons don't show up on mouse hover:
 + Intermittent
 + Could be fixed by toggling the style rules.
 + Usually affected all nodes except for the most recently drawn.

This CSS rule fixes it. I'm not entirely sure why - I just had a hunch that it would work, and it did. Magic.
 */
.node-top-margin:hover .margin-button {
    visibility: visible;
}


.delete-button,
.focus-subtree-tool {
	font-family: 'steep';
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.margin-button.focus-subtree-tool rect {
	fill: #eee;
}
