/*
Styles about nodes.
 */
g.process-node {
    cursor: move;
	font-size: 10px;
}

.process-node rect {
	stroke-width: 0.5;
    stroke: #708090;
    fill: white;
}

.process-node rect.node-box {
	stroke: #c9c9c9;
	-webkit-filter: drop-shadow( 0px 0px 1px  rgba(0,0,0,0.3) );
	filter: drop-shadow( 0px 0px 1px  rgba(0,0,0,0.3) ); /* Same syntax as box-shadow */
}

.process-node rect.node-box-process {
	fill: white;
}

.process-node rect.node-box-issue {
	fill: #c7e2f3;
}

.process-node rect.node-box-option {
	fill: #fbf6e4;
}

.process-node rect.node-box-argument {
    fill: #9966EE;
}

g.toggleable-text {
    cursor: pointer;
}

g.node-type text {
	fill: white;
	font-family: 'fira_sansregular';
	font-size: 8px;
}

.resize-handle {
    cursor: se-resize;
    fill: none;
    stroke-width: 5;    
    stroke: black;
    opacity: 0;
}

.handle {
    cursor: pointer;
    stroke: #708090;
}

.handle circle {
    fill: white;
}

.handle circle:hover {
    fill: green;
}

#measure-word-length {
    position: absolute:
    top: -9999px;
    visibility: hidden;
}