/*
Styles about nodes.
 */
g.process-node {
    cursor: move;
}

.process-node rect {
    stroke: #708090;
    fill: white;
}

.node-name {
    white-space: nowrap;
}

.process-node rect.node-box-process {
    fill: #C0C0C0;
}

.process-node rect.node-box-issue {
    fill: #6699EE;
}

.process-node rect.node-box-option {
    fill: #55CC55;
}

.process-node rect.node-box-argument {
    fill: #9966EE;
}

g.toggleable-text {
    cursor: pointer;
}

g.node-type text {
    font-family: monospace;
    fill: maroon;
}

.resize-handle {
    cursor: se-resize;
    font-family: monospace;
}

.handle {
    cursor: pointer;
    stroke: #708090;
}

.handle circle {
    fill: white;
}

.handle circle:hover {
    fill: green;
}
