/* toolbar */

#toolbar > div {
	border: 1px solid #c9c9c9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.3);
	text-indent: -5000px;
	color: #282828;
	padding: 10px;
	margin: 0 0 10px 0;
	line-height: 1;
	float: right;
	clear: both;
	width: 16px;
	height: 16px;
}

#toolbar > div:hover {
	color: #08b030;
}

#toolbar > div.enabled {
	background-color: #282828;
}

#toolbar > div.enabled:hover {
	color: white;
	background-color: black;
}

#toolbar > div::after {
	text-indent: 0;
	display: block;
	float: left;
	font-family: 'steep-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#toolbar > div#zoom-in-button::after {
	content: '\0034';
}

#toolbar > div#zoom-out-button::after {
	content: '\0035';
}

#toolbar > div#fit-button::after {
	content: '\0061';
}

#toolbar > div#rotate-button::after {
	content: '\0075';
}

#toolbar > div#margins-toggle::after {
	content: '\0054';
}

#toolbar > div#levels-button::after {
	content: '\0067';
}

#toolbar > div#tidy-button::after {
	content: '\0061';
}

#toolbar > div#load-viewpoint-button::after {
	content: '\0079';
}

#toolbar #viewpoint-saved-indicator-wrapper {
	left: -11em;
}

#toolbar #viewpoint-saved-indicator-wrapper div {
	background-color: rgba(0, 0, 0, 0.8);
	border: 0;
	text-indent: 0;
	width: 8em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



#toolbar .depth-slider-wrapper {
	display: none;
	width: auto;
	clear: none;
	text-indent: 0;
	float: left;
	margin-right: 10px;
}

#toolbar .depth-slider-wrapper.enabled {
	display: block;
}

#toolbar .depth-slider-wrapper label {
	display: block;
	float: left;
	margin-right: 10px;
}


