#download {
    position: fixed;
    top: 2vh;
    left: 1vw;
}

g.process-node {
    cursor: move;
}

.process-node {
    opacity: 0.7;
}

.process-node:hover {
    opacity: 1.0;
}

#resizing-node {
    opacity: 1.0;
}

.drag-target {
    opacity: 1.0;
}

text {
    font-family: monospace;
}

.process-node rect {
    stroke: #708090;
    fill: white;
}

.node-name {
    overflow: hidden;
    white-space: nowrap;
}

.process-node rect.node-box-process {
    fill: #C0C0C0;
}

.process-node rect.node-box-issue {
    fill: #6699EE;
}

.process-node rect.node-box-option {
    fill: #55CC55;
}

.process-node rect.node-box-argument {
    fill: #9966EE;
}

g.node-choice {
    cursor: pointer;
}

g.node-choice-process rect {
    fill: #C0C0C0;
}

g.node-choice-issue rect {
    fill: #6699EE;
}

g.node-choice-option rect {
    fill: #55CC55;
}

g.node-choice-argument rect {
    fill: #9966EE;
}

g.toggleable-text {
    cursor: pointer;
}

g.node-type text {
    font-family: monospace;
    fill: maroon;
}

g.node-choice text {
    font-family: monospace;
    fill: maroon;
}

g.expander {
    cursor: pointer;
}

rect.success {
    fill: green;
}

rect.uncertainty {
    fill: white;
}

rect.failure {
    fill: red;
}

rect.conflict {
    fill: #27408B;
}

.handle {
    stroke: #708090;
}

.handle:hover {
    cursor: pointer;
}

.edge circle {
    fill: green;
    stroke: #708090;

}

.edge circle:hover {
    cursor: pointer;
    fill: darkred;
}

g.weight-half {
   transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

g.weight-half:hover {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}

.resize-handle {
    cursor: se-resize;
}

.resizeable-column {
    display: inline-block;
    height: 96vh;
    border: 1px solid #9999BB;
}

.column-resize-handle {
    display: block;
    position: absolute;
    height: 96vh;
    background-color: #555555;
    width: 2px;
 }

.column-resize-handle:hover {
    cursor: ew-resize;
}

#help {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: xx-large;
    text-decoration: none;
}

.help-text {
    padding-left: 10px;
    width: 95%;
}

.metadata-field {
    margin-top: 0.5em;
}

.metadata-label {
    width: 20%;
    margin-left: 10px;
    display: inline-block;
}

.metadata-text-readonly {
    width: 70%;
    display: inline;
}

.metadata-text-editable {
    width: 70%;
    /* Negative margin here bumps the text field up a big relative to the label. */
    margin-bottom: -1em;
    display: inline;
    resize: vertical;
}

.metadata-link {
    margin-left: 10px;
}

.metadata-tree {
    margin-left: 5px;
}

.metadata-tree-field {
    overflow: hidden;
    width: 7em;
}

.metadata-tree-field input {
    width: 6em;
    margin-right: 2px;
}

.metadata-tree-control {
    font-family: monospace;
    cursor: pointer;
}

.svg-editable-text {
    cursor: text;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border:none;
    outline:none;
}