#download {
    position: fixed;
    visibility: hidden;
    top: 1.5vh;
    left: 30vw;
}

#wiki-controls {
    position: fixed;
    top: 1vh;
    left: 1vw;
}

#wiki-open-close {
    top: 2em;
    right: 0.3em;
    position: absolute;
}

#model {
    height: 96vh;
    width: 99vw;
}

#help {
    position: fixed;
    top: 0.2em;
    right: 0.4em;
    font-size: xx-large;
    text-decoration: none;
}

g.process-node {
    cursor: move;
}

.process-node {
    opacity: 0.7;
}

.process-node:hover {
    opacity: 1.0;
}

g.selected {
    opacity: 1.0;
}

#resizing-node {
    opacity: 1.0;
}

.drag-target {
    opacity: 1.0;
}

text {
    font-family: monospace;
}

.process-node rect {
    stroke: #708090;
    fill: white;
}

.node-name {
    overflow: hidden;
    white-space: nowrap;
}

.node-description {
    font-size: small;
}

.process-node rect.node-box-process {
    fill: #C0C0C0;
}

.process-node rect.node-box-issue {
    fill: #6699EE;
}

.process-node rect.node-box-option {
    fill: #55CC55;
}

.process-node rect.node-box-argument {
    fill: #9966EE;
}

g.node-choice {
    cursor: pointer;
}

g.node-choice-process rect {
    fill: #C0C0C0;
}

g.node-choice-issue rect {
    fill: #6699EE;
}

g.node-choice-option rect {
    fill: #55CC55;
}

g.node-choice-argument rect {
    fill: #9966EE;
}

g.toggleable-text {
    cursor: pointer;
}

g.node-type text {
    font-family: monospace;
    fill: maroon;
}

g.node-choice text {
    font-family: monospace;
    fill: maroon;
}

g.node-link {
    font-family: monospace;
    font-size: x-large;
    cursor: pointer;
}

g.expander {
    cursor: pointer;
}

rect.success {
    fill: green;
}

rect.uncertainty {
    fill: white;
}

rect.failure {
    fill: red;
}

rect.conflict {
    fill: #27408B;
}

.handle {
    stroke: #708090;
}

.handle:hover {
    cursor: pointer;
}

.edge {
    opacity: 0.7;
    pointer-events: none;
}

.weights {
    pointer-events: auto;
}

.edge circle {
    fill: green;
    stroke: #708090;
    pointer-events: auto;
}

.edge circle:hover {
    cursor: pointer;
    fill: darkred;
}

g.weight-half {
   transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

g.weight-half:hover {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}

.resize-handle {
    cursor: se-resize;
}

.svg-editable-text {
    cursor: text;
}

.plaintext {
    -moz-user-modify: read-write-plaintext-only;
    -webkit-user-modify: read-write-plaintext-only;
    -ms-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border:none;
    outline:none;
}

.text-button {
    fill: #F0F0F0;
}

.text-button:hover {
    fill: #D3D3D3;
}

.text-button-icon {
    font-family: monospace;
    cursor: pointer;
    fill: black;
    font-size: x-large;
}

.dialogue {
    position: fixed;
}

.message-panel {
    position: fixed;
    top: 0.5em;
    right: 3em;
    width: 50vw;
    height: 99vh;
    pointer-events: none;
}

.message-panel div {
    float: right;
    clear: both;
    border: 1px dashed grey;
    padding: 0.2em;
    pointer-events: all;
}

.error {
    font-size: x-large;
    color: red;
    border-color: red;
}

#document-control {
    position: absolute;
    font-size: large;
    top: 0;
    left: 0;
    padding: 1.0em;
    font-family: helvetica;
}

#document-search {
    font-size: large;
    margin-left: 0.1em;
}

#document-search-results {
    list-style-type: none;
    margin: 0;
    padding-left: 0em;
    padding-top: 0.1em;
    display: block;
    width: 23.5em;
}

.document-search-result:hover {
    text-decoration: underline;
    background-color: #E0E0E0;
}

.search-result-button {
    margin: 0.4em;
}

.document-search-result-text {
    width: 13em;
    padding: 0.2em;
    padding-left: 0.2em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
