#model {
    height: 95vh;
    width: 99vw;
}

g.process-node {
    cursor: move;
}

.process-node rect {
    stroke: #708090;
    fill: white;
}

.process-node {
    opacity: 0.7;
}

.process-node:hover {
    opacity: 1.0;
}

.drag-target {
    opacity: 1.0;
}

g.expander {
    cursor: pointer;
}

g.node-type text {
    fill: maroon;
}

input.node-name {
    font-family: "Courier New", Courier, monospace;
    width: 116px;
    margin: 0;
    display: block;
    height: 10px;
}

input.name-error {
    color: red;
}

rect.success {
    fill: green;
}

rect.uncertainty {
    fill: white;
}

rect.failure {
    fill: red;
}

rect.conflict {
    fill: #27408B;
}

.handle {
    stroke: #708090;
}

.handle:hover {
    cursor: move;
}

.edge circle {
    fill: green;
    stroke: #708090;

}

.edge circle:hover {
    cursor: pointer;
    fill: darkred;
}

g.weight-half {
   transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

g.weight-half:hover {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}

iframe.url-preview-frame {
    transform: scale(0.3);
    -moz-transform:scale(0.3);
    -o-transform: scale(0.3);
    -webkit-transform: scale(0.3);
}